@font-face {
  font-family: minecraftFont;
  src: url(minecraft-webfont.woff);
  font-weight: bold;
  font-display: swap;
}
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
.parent {
    position: relative;
    height: 100%;
}
#map {
    position: absolute;
    height: 25%;
    width: 25%;
    z-index: 1;
}

#pano {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}

#controls {
    height: 5%;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
