/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
.mapSettings {
    padding: .15em 1em;
}
.controls {
    padding: 1em 3em;
}

#gameContainer {
    margin-left: 2.5%;
    margin-top: 1%;
    margin-right: 2.5%;
}
#map {
    position: absolute;
    height: 35%;
    width: 25%;
    margin-left: 1%;
    margin-top: 1%;
    opacity: .75;
    z-index: 1;
}

#map:hover {
    height: 50%;
    width: 40%;
    opacity: 1.0;

}

#pano {
    position: absolute;
    height: 90%;
    width: 95%;
    z-index: 0;
}
#mapSettingsContainer {
    margin-left: 5%;
}

#result {
    color: black;
}
.parent {
    margin-top: 2%;
}

h1 {
    font-size: 4em;
}
button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
button:hover {
    background-color: white;
    color: black;
}
button {
    box-shadow: 0 .4em #999;
    color: white;
    border-radius: 15%;
    background-color: grey;
    border: 0;
    padding: 10;
    
}
table { 
    border-collapse:separate; 
        border-spacing: 1em;
}
table th { border-bottom: .25em solid white; }

/* Optional: Makes the sample page fill the window. */
html,
body {
    background-color: black;
    height: 100%;
    width: 100%;
    color: white;
}
