@font-face {
  font-family: minecraftFont;
  src: url(minecraft-webfont.woff);
  font-weight: bold;
  font-display: swap;
}
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
.parent {
    position: relative;
    height: 90%;
}
.mapSettings {
    padding: .15em 1em;
}
.controls {
    padding: 1em 3em;
}
#map {
    position: absolute;
    height: 35%;
    width: 25%;
    margin-left: 1%;
    margin-top: 1%;
    opacity: .75;
    z-index: 1;
}

#map:hover {
    height: 50%;
    width: 40%;
    opacity: 1.0;

}

#pano {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}

#controls {
    height: 5%;
}

#result {
    color: #32CD32;
}
.parent {
    background-color: black;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
    background-color: black;
    height: 100%;
    margin: 0;
    padding: 0;
}
